CHAPTER_URL="https://gdg.community.dev/gdg-on-campus-maharishi-markandeshwar-deemed-to-be-university-mullana-india/"
CHAPTER_ID="1752"
NEXT_PUBLIC_INST_NAME_LONG="Maharishi Markandeshwar (Deemed to be University)"
NEXT_PUBLIC_INST_NAME_SHORT="MM(DU)"
CONTACT_EMAIL="yourmail@gmail.com"
CONTACT_APP_PASSWORD="xxxxxxxxxxxxxxxx"
HIRING_ACTIVE=1
NEXT_PUBLIC_HIRING_SCRIPT_URL="https://script.google.com/macros/s/xxxxxxxxxxxxxxx/exec"